body {
	background-image: url("../imgs/fundo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	color: white;	
}

div#interface {
	width: 904px;
	background-color: rgb(80, 39, 95);
	margin: 0px auto 0px auto;
	padding: 10px;
	border: 3px solid orange;
}
		
header#cabecalho {
	position: relative;
	border: 5px solid orange;
	height: 100px;
	width: 920px;
	background-color: #ff8c00;
	top: 0px;
	margin: 0px auto 0px auto; 
}
		
header#cabecalho img#logo {
	position: absolute ;
}

header h1 {
	color: rgb(139, 87, 213) ;
	border: purple;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: purple;
}
		
.logo {
	position: absolute;
	border: 2px solid purple;
}
		
nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -20px;
	left: 72px;
}
		
nav#menu li {
	display: inline-block;
	background-color: rgb(139, 87, 213);
	margin: 0px;
	padding: 2px;
	transition: background-color 0.1s;
}
		
nav#menu li:hover {
	background-color: purple;
	text-decoration: none;
}
		
nav#menu a {
	color: white;
	text-decoration: none;
}


	
h1 {  
	font-family:Cambria;
	font-size: 30pt;
	text-align: center;
}
		 
h2 {  
	font-family: Cambria;
	font-size: 24pt;
	text-align: center;

}

h3 {  
	text-indent: 30px;
	font-family: Cambria;
	font-size: 20pt;
	text-align: center;
	font-weight: 40
	
}

h4 {  
	font-family: Cambria;
	font-size: 18pt;
	text-align: center;
	font-weight: 60;
	list-style: none;
}
				
h5 {  
	text-indent: 0px;
	font-family: Cambria;
	font-size: 14pt;
	text-align: right-side;
	font-weight: 80;
	list-style: none;
}

p {
	text-align: justify;
	text-indent: 30px;
	font-family: calibri light;
	margin-left: 50px;
	margin-right: 50px;
}
		
a {
	color: orange;
	text-decoration: none;
}
		
a:hover {
	text-decoration: underline;
}
		
section#entrada {
	display: block;
}

section#corpo {
	display: block;
	width: 500x;
	border: 1px solid orange;
	padding: 15px;
	border-left: 1px;
	border-left-color:orange;
	border-right:1px ;
	border-right-color: orange;
	}
		
footer#rodape {
	display: block;
	border-top: 3px solid orange;
	width: 500x;
}
	
footer#rodape p {
	color: rgb(62, 22, 57);
	text-align: center;
}

.box {
	display: inline-block;
	border-top: 2px solid orange;
	border-bottom: 2px solid orange;
	text-align: center;
	padding: 4px;
	margin: 0px auto;
	position: relative;
	text-align: center;
}
		
.box img {
	vertical-align: center;
	position: relative;
	text-align: center;
	border: 1px solid orange;
}
		
.box_only {
	border-top: 2px solid orange;
	border-bottom: 2px solid orange;
	padding: 4px;
	margin: 0px auto;
	position: relative;
	text-align: center;
}
		
.box_only img {
	vertical-align: center;
	position: relative;
	text-align: center;
	border: 1px solid orange;
}

table#tabelaspec tr{	
	border: 1px solid #606060;
}

#tabelaspec {
	border: 1px solid #606060;
	background: #E67E22;
	margin-left: auto;
}

#faleconosco {
	border:5px solid orange;
	width: 600px;
	margin:0 auto;
	padding-left:5px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align:justify;
	background-color: rgb(139, 87, 213);

}
input, select, textarea { 	
	background-color:rgb(255, 255, 150);
}

#conteudo img {
	border: 1px solid orange;
}